.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid black;

  .active {
    background-color: white;
    color: black;
  }
  a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }

  a:hover {
    color: #f1f1f1;
    cursor: pointer;
  }
  a:hover.active {
    color: rgb(184, 169, 169);
  }

  @media screen and (max-height: 450px) {
    padding-top: 15px;
    a {
      font-size: 18px;
    }
  }
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}
