<div class="header">
  <div class="header-left">
    <a
      [ngClass]="{ active: i === currentCategoryIndex }"
      *ngFor="let category of categories; trackBy: trackByFn; let i = index"
      (click)="selectCategory(i)"
      >{{ category.text }}</a
    >
  </div>
</div>
<div class="sidenav">
  <a
    [ngClass]="{ active: i === currentIndex }"
    *ngFor="let item of items; trackBy: trackByFn; let i = index"
    (click)="setActive(i)"
    >{{ item }}</a
  >
</div>

<div class="main">
  <app-creation [operator]="items[currentIndex]"></app-creation>
</div>
